In [23]:
import pandas as pd
import numpy as np
import csv
items=pd.read_csv('items.csv',delimiter='|')
items['key']=items['pid'].astype(str) +" "+items['size'].astype(str)

In [24]:
items=items[['key','brand']]
items.head()

                    key brand
0  10000 XL ( 158-170 )  Nike
1               10001 L  Jako
2      10003 3 (35-38 )  Jako
3     10003 4 ( 39-42 )  Jako
4     10003 5 ( 43-46 )  Jako

In [31]:
items=pd.DataFrame(items)
items_Nike=items.loc[items['brand']=='Nike']
items_adidas=items.loc[items['brand']=='adidas']
items_PUMA=items.loc[items['brand']=='PUMA']
items_Jako=items.loc[items['brand']=='Jako']
items_other=items.loc[~items['brand'].isin(['Nike','adidas','PUMA','Jako'])]

In [33]:
items_Nike.to_csv("items_Nike.csv")
items_adidas.to_csv("items_adidas.csv")
items_PUMA.to_csv("items_PUMA.csv")
items_Jako.to_csv("items_Jako.csv")
items_other.to_csv("items_other.csv")