In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.metrics import pairwise_distances
from sklearn.cluster import KMeans
data=pd.read_csv('data_for_cluster_flat.csv')

# Clutering :Kmeans

In [2]:
data1=data.drop(['key'],axis=1)
clusterer = KMeans(7, random_state=10)
data1['labels']= clusterer.fit_predict(data1)

In [4]:
data1
print(data1['labels'].unique())

[3 5 0 6 1 2 4]

In [5]:
#data=pd.DataFrame(data)
#data1=pd.DataFrame(data1)
data3=pd.merge(data,data1)

# 7 tables based on clustering

In [7]:
data3=pd.DataFrame(data3)
dataset0=data3.loc[data3['labels'] == 0]
dataset1=data3.loc[data3['labels'] == 1]
dataset2=data3.loc[data3['labels'] == 2]
dataset3=data3.loc[data3['labels'] == 3]
dataset4=data3.loc[data3['labels'] == 4]
dataset5=data3.loc[data3['labels'] == 5]
dataset6=data3.loc[data3['labels'] == 6]

,Unnamed: 0,key,rrp,new size_L,new size_M,new size_S,new size_XL,color_blau,color_rot,color_schwarz,...,2017-12-23,2017-12-24,2017-12-25,2017-12-26,2017-12-27,2017-12-28,2017-12-29,2017-12-30,2017-12-31,labels
3654,3654,11089 XL,25.33,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3655,3655,11095 XL,25.33,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3656,3656,11172 XL,44.38,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3657,3657,11198 XL,44.38,0,0,0,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3658,3658,11241 XL,44.38,0,0,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0

In [47]:
dataset0.to_csv("dataset_0.csv")
dataset1.to_csv("dataset_1.csv")
dataset2.to_csv("dataset_2.csv")
dataset3.to_csv("dataset_3.csv")
dataset4.to_csv("dataset_4.csv")
dataset5.to_csv("dataset_5.csv")
dataset6.to_csv("dataset_6.csv")