# Data Prep R for Clustering

In [322]:
import sys
sys.path.append('/Users/bengikoseoglu/anaconda2/pkgs')
sys.path.append('/Users/bengikoseoglu/anaconda2/pckgs')
sys.path.append('/Library/Python/2.7/site-packages')
sys.path

['',
 '/Users/bengikoseoglu/anaconda2/lib/python27.zip',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/plat-darwin',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/plat-mac',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/plat-mac/lib-scriptpackages',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/lib-tk',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/lib-old',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/lib-dynload',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/site-packages',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/site-packages/aeosa',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/site-packages/IPython/extensions',
 '/Users/bengikoseoglu/.ipython',
 '/Users/bengikoseoglu/anaconda2/pkgs',
 '/Users/bengikoseoglu/anaconda2/pkgs',
 '/Users/bengikoseoglu/anaconda2/pkgs',
 '/Users/bengikoseoglu/anaconda2/pckgs',
 '/Users/bengikoseoglu/anaconda2/pkgs',
 '/Users/bengikoseoglu/anaconda2/pckgs',
 '/Library/Python/2.7/site-packages',
 '/Users/bengikoseoglu/anaconda2/pkgs',
 '/Users/bengikoseoglu/anaconda2/pckgs',
 '/Library/Python/2.7/site-packages']

In [33]:
import matplotlib.pyplot as plt
import numpy as np

from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import pairwise_distances
import pandas as pd
import pandas as pd
import numpy as np
import datetime
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import *
import plotly.plotly as py
import plotly
import plotly.graph_objs as go
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
from datetime import date, timedelta

In [35]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from datetime import date, timedelta

In [3]:
data_cluster=pd.read_csv('data_cluster_train.csv')

In [57]:
train_df=pd.read_excel('model_data_train.xlsx')

In [164]:
train_sub=train_df[['key','date']]

In [166]:
train_sub.head()

                 key        date
0  14393 2 ( 37-39 )  2017-10-01
1           10069 36  2017-10-01
2           10069 35  2017-10-01
3            16221 L  2017-10-01
4            11317 L  2017-10-01

In [279]:
d1 = date(2017, 10, 1)  # start date
d2 = date(2017, 12, 31)  # end date
d3=date(2018, 1, 31)

delta = d2 - d1         # timedelta

pre_day=[]
for i in range(delta.days + 1):
    add=str(d1 + timedelta(days=i))
    pre_day.append(add)

post_day=[] 
delta_2 = d3 - d2

for i in range(delta_2.days + 1):
    add=str(d2 + timedelta(days=i))
    post_day.append(add)
df_days_pre = pd.DataFrame({'date':pre_day})
df_days_post = pd.DataFrame({'date':post_day})

In [280]:
unique_ids=train_sub['key'].unique()
n1=len(unique_ids)

In [281]:
ids_multiple=np.repeat(unique_ids,len(pre_day))

In [282]:
hold_days = []
i=0
while(i<n1):
    k=0
    while(k<len(pre_day)):
        value=pre_day[k]
        hold_days.append(value)
        k=k+1
    i=i+1

In [283]:
len(hold_days)

1012920

In [284]:
len(ids_multiple)

1012920

In [286]:
days_multiple=pd.DataFrame({'date':hold_days})
ids_multiple1=pd.DataFrame({'key':ids_multiple})
#df_whole=pd.concat({'key': ids_multiple, 'date': days_multiple},ignore_index=True)
df_whole=pd.concat([ids_multiple1,days_multiple],axis=1)

In [294]:
train_sub2=train_df[['key','date','units']]

In [296]:
last_data=pd.merge(df_whole,train_sub2, how='left',on=['key','date'])

In [297]:
last_data=last_data.fillna(0)

In [300]:
last_data.head()

                 key        date  units
0  14393 2 ( 37-39 )  2017-10-01    1.0
1  14393 2 ( 37-39 )  2017-10-02    0.0
2  14393 2 ( 37-39 )  2017-10-03    3.0
3  14393 2 ( 37-39 )  2017-10-04    1.0
4  14393 2 ( 37-39 )  2017-10-05    0.0

In [303]:
last_data_pivot=last_data.pivot(index='key', columns='date', values='units')

In [310]:
last_data_pivot=last_data_pivot.reset_index()

In [311]:
last_data_pivot[last_data_pivot['key']=='14393 2 ( 37-39 )']

date,key,2017-10-01,2017-10-02,2017-10-03,2017-10-04,2017-10-05,2017-10-06,2017-10-07,2017-10-08,2017-10-09,...,2017-12-22,2017-12-23,2017-12-24,2017-12-25,2017-12-26,2017-12-27,2017-12-28,2017-12-29,2017-12-30,2017-12-31
3734,14393 2 ( 37-39 ),1.0,0.0,3.0,1.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [313]:
last_data_pivot.to_csv('data_clustering_R')